# Reference: https://build-cpp.github.io/cmkr/cmake-toml
# to build:
# > cmake -B build
# > cmake --build build --config Release
[project]
name = "MW5-UEVR-Plugins"
cmake-before="""
add_compile_options($<$<CXX_COMPILER_ID:MSVC>:/MP>)
"""
cmake-after = """
set(CMAKE_C_FLAGS "${CMAKE_C_FLAGS} /MP")
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} /MP")

set(ASMJIT_STATIC ON CACHE BOOL "" FORCE)

if ("${CMAKE_BUILD_TYPE}" MATCHES "Release")
    set(CMAKE_C_FLAGS "${CMAKE_C_FLAGS} /MT")
    set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} /MT")

    # Statically compile runtime
    string(REGEX REPLACE "/MD" "/MT" CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS}")
    string(REGEX REPLACE "/MD" "/MT" CMAKE_C_FLAGS "${CMAKE_C_FLAGS}")
    string(REGEX REPLACE "/MD" "/MT" CMAKE_CXX_FLAGS_RELEASE "${CMAKE_CXX_FLAGS_RELEASE}")
    string(REGEX REPLACE "/MD" "/MT" CMAKE_C_FLAGS_RELEASE "${CMAKE_C_FLAGS_RELEASE}")

    message(NOTICE "Building in Release mode")
endif()

set(CMAKE_MSVC_RUNTIME_LIBRARY "MultiThreaded$<$<CONFIG:Debug>:Debug>")

file(GLOB_RECURSE HUD_SHADERS
  "${CMAKE_SOURCE_DIR}/src/hud/shaders/*.hlsl"
  "${CMAKE_SOURCE_DIR}/src/hud/shaders/*.hlsli"
)
set_source_files_properties(${HUD_SHADERS} PROPERTIES HEADER_FILE_ONLY TRUE)
"""

[template.plugin]
type = "shared"
compile-features = ["cxx_std_23"]
include-directories = ["include/", "ext/uevr/include/", "ext/glm/", "ext/openxr/include/", "ext/minhook/include/", "ext/spdlog/include/", "ext/sig/include"]


[target.HeadAim]
type = "plugin"
sources = ["src/head_aim/**.cpp", "src/head_aim/**.c", "ext/minhook/src/**.c"]
headers = ["src/head_aim/**.hpp", "src/head_aim/**.h", "ext/minhook/src/**.h", "include/**.h"]

[target.MechShakerBridge]
type = "plugin"
sources = ["src/mechshaker_bridge/**.cpp", "src/mechshaker_bridge/**.c", "ext/minhook/src/**.c"]
headers = ["src/mechshaker_bridge/**.hpp", "src/mechshaker_bridge/**.h", "ext/minhook/src/**.h", "include/**.h"]

[target.HUD]
type = "plugin"
sources = ["src/hud/**.cpp", "src/hud/**.c", "ext/minhook/src/**.c"]
headers = ["src/hud/**.hpp", "src/hud/**.h", "ext/minhook/src/**.h", "src/hud/shaders/**.hlsl", "src/hud/shaders/**.hlsli", "include/**.h"]

cmake-after="""
add_custom_command(
    TARGET HeadAim POST_BUILD
    COMMAND powershell.exe -NoProfile -ExecutionPolicy Bypass -File "${CMAKE_SOURCE_DIR}/copy_with_retry.ps1" -sourcePath "${CMAKE_SOURCE_DIR}/build/Release/HeadAim.dll" -destPath "%APPDATA%/UnrealVRMod/MechWarrior-Win64-Shipping/plugins/HeadAim.dll")

add_custom_command(
    TARGET MechShakerBridge POST_BUILD
    COMMAND powershell.exe -NoProfile -ExecutionPolicy Bypass -File "${CMAKE_SOURCE_DIR}/copy_with_retry.ps1" -sourcePath "${CMAKE_SOURCE_DIR}/build/Release/MechShakerBridge.dll" -destPath "%APPDATA%/UnrealVRMod/MechWarrior-Win64-Shipping/plugins/MechShakerBridge.dll")

add_custom_command(
    TARGET HUD POST_BUILD
    COMMAND powershell.exe -NoProfile -ExecutionPolicy Bypass -File "${CMAKE_SOURCE_DIR}/copy_with_retry.ps1" -sourcePath "${CMAKE_SOURCE_DIR}/build/Release/HUD.dll" -destPath "%APPDATA%/UnrealVRMod/MechWarrior-Win64-Shipping/plugins/HUD.dll")

set(_UEVR_PLUGIN_DIR "$ENV{APPDATA}/UnrealVRMod/MechWarrior-Win64-Shipping/plugins")

add_custom_command(
  TARGET HUD POST_BUILD
  COMMAND ${CMAKE_COMMAND} -E make_directory "${_UEVR_PLUGIN_DIR}/shaders"
  COMMAND ${CMAKE_COMMAND} -E copy_directory
          "${CMAKE_SOURCE_DIR}/src/hud/shaders"
          "${_UEVR_PLUGIN_DIR}/shaders"
  VERBATIM)
"""
